<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GROWTHzone</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script defer src="/scripts/main.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1>GROWTHzone</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/uploads">Uploads</a>
                <a href="/about">About Us</a>
            </nav>
            <div class="menu-toggle">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </header>
    <div class="home-content">
        <div class="left">
            <h1>JUST FUCKING<br>DO IT!</h1>
            <p>Who’s gonna carry the boats? YOU??<br>Show us then.....!!!</p>
            <a href="/uploads"><button>Become Hard</button></a>
        </div>
        <div class="right">
            <img src="/styles/assets.png" alt="Assets Image">
        </div>
    </div>
</body>
</html>
